@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import "tailwindcss";




body{
    background-color: black;
    color: white;
    cursor: default;
    
    
}
/* for word,line and char */

/* .word,.line,.char{
    border: 1px solid black;
    border-radius: 4px;
   
} */





/* .word2, .word4,.word9{
    border: 1px solid black;
    border-radius: 4px;
} */

.pointer-and-blendmode{
    pointer-events: none;
    mix-blend-mode: difference;
}

/* path{
    stroke-dasharray: 924.2469482421875px;
    stroke-dashoffset: 924.2469482421875px;
    animation: lineAnimation 5s ease;
    animation-iteration-count: infinite;
}

@keyframes lineAnimation {
    to{
        stroke-dashoffset:0px ;
    }
} */

@theme {
    --font-barlow: "Barlow Condensed";
    --font-pacifico:"Pacifico";
    --font-blackOps:"Black Ops One";


    /* break points */
    --breakpoint-xxs: 330px;
    --breakpoint-xs: 370px;
    --breakpoint-sm: 400px;
    --breakpoint-mdsm: 500px;
    --breakpoint-md: 640px;
    --breakpoint-mdlg: 768px;
    --breakpoint-lg: 900px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
  }


  .prepareForAnimatioon{
transform: translateZ(0);
will-change: transform;
  }








  .word1{
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
/*   
  .word2{
    background: linear-gradient(45deg, #36d1dc, #5b86e5);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  
  .word3{
    background: linear-gradient(45deg, #11998e, #38ef7d);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 6px;
  }
   */
  .word4{
    background: linear-gradient(45deg, #7f00ff, #e100ff);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }

  
  .word5{
    background: linear-gradient(45deg, #f7971e, #ffd200);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  
  .word6{
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  
  .word7{
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  } 
  
  .word8{
    background: linear-gradient(45deg, #da22ff, #9733ee);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  
  .word9{
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  
  .word10{
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    color: white;
    border: none;
    padding: 2px 2px;
    border-radius: 6px;
  }
  