@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import "tailwindcss";





body{
    background-color: black;
    color: white;
    cursor: default;
    overflow-x: hidden;
}
/* for word,line and char */

/* .word,.line,.char{
    border: 1px solid black;
    border-radius: 4px;
   
} */





/* .word2, .word4,.word9{
    border: 1px solid black;
    border-radius: 4px;
} */

.pointer-and-blendmode{
    pointer-events: none;
    mix-blend-mode: difference;
}


@theme {
    --font-barlow: "Barlow Condensed";
    --font-pacifico:"Pacifico";
    --font-blackOps:"Black Ops One";


    /* break points */
    --breakpoint-xxs: 330px;
    --breakpoint-xs: 370px;
    --breakpoint-sm: 400px;
    --breakpoint-mdsm: 500px;
    --breakpoint-md: 640px;
    --breakpoint-mdlg: 768px;
    --breakpoint-lg: 900px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1280px;
  }